@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/*=================================
=            Variables            =
=================================*/

@import "components/variables";

/*=====  End of Variables  ======*/

/*==============================
=            Mixins            =
==============================*/

@import "mixins/breakpoints";
@import "mixins/clearfix";
@import "mixins/helpers";

/*=====  End of Mixins  ======*/

/*==================================
=            components            =
==================================*/

@import "normalize.scss/normalize.scss";
@import "components/rwd";
@import "components/navigation";
@import "components/grid";
@import "components/buttons";
// @import "components/acordeon";
// @import "components/psd";

/*=====  End of components  ======*/

/*=====================================
=            Plugins style            =
=====================================*/

// @import "components/tabs";
// @import "components/scrollTop";
// @import "components/parallax";
// @import "components/cokies";

/*=====  End of Plugins style  ======*/


/*======================================
=            Global  styles            =
======================================*/

html{
	font-family: $base-font;
	font-size: $font-size;
	color: $black;
}
body{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
a{
	text-decoration: none;
	color: inherit;
}
*{
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}


@import "pages/main";
@import "pages/404";