.acordeon {
	width: 100%;
	background: $white;
	color: $base;
	&__titulo {
		width: 100%;
		cursor: pointer;
		padding: 15px;
		font-weight: 900;
		background-color: $white;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		border-bottom: 1px solid $gray;
		transition: 0.3s all ease;
		&:hover {
			background: $alt;
			color: $white;
		}
		&:active {
			aborder-color:$alt;
			background: $alt;
			color: $white;
		}
		&.active{
			border-color:$alt;
			background: $alt;
			color: $white;
		}
	}
	&__item:first-child .acordeon__titulo{
		border-top: 1px solid $gray;
	}
	&__contenido {
		display: none;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		border-bottom: 1px solid $gray;
		margin: 0;
		padding: 1rem;
		line-height: 1.5;
		color: lighten($base, 20);
		text-align: justify;
	}
}