.button{
	padding: 10px 20px;
	background: $white;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: $bold;
	position: relative;
	z-index: 1;
	transition: .3s ease;
	cursor: pointer;
	display: inline-flex;
	text-align: center;
	&--center{
		margin-left: 50%;
		transform: translateX(-50%);
	}
	&--404{
		border: 1px solid $base;
		&:hover{
			background: $base;
			color:$white;
		}
	}
}